#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY="" 				# Provide a value for DOTENV_PUBLIC_KEY

# .env
HELLO="" 				# Provide a value for HELLO
GITHUB_TOKEN="" 				# Provide a value for GITHUB_TOKEN
